body {
	margin: 0;
	padding: 0;
        background: url(./images/chem.jpg) no-repeat 0px 0px;
	background-attachment: fixed;
        min-height: 100vh;
        background-size: cover;
        font-family: sans-serif;
	background-position: center;
}
h1 {
    margin: 0;
    color: #faf0e6;
    top: -10%;
    left: -9% ;
    position : fixed ;
    transform: translate(40%, 30%);
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
}

h2  {
    margin: 0;
    color: #faf0e6;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: red;
    
}

.login-box {
	width: 320px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 25%;
	left: 10%;
	position: fixed;
	box-sizing: border-box;
	transform: translate(-30%, -30%);
	padding: 70px 30px;
}

.login-box p {
	margin: 0;	padding: 0;
	font-weight: bold;
}

.login-box input{
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type = "submit"] 
{
	border: none;
	outline: none;
	height: 30px;
	background: #1c8adb;
	color: #fff;
	border-radius: 15px;
}

.login-box input[type = "submit"]:hover
{	
	cursor:	pointer;	
	background: #39dc79;
	color: #000;
}
	
.login-box input[type= "text"], input[type = "passwd"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;

}
.avatar {

	
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
	
