body {
    margin: 0;
    padding: 0;
    background: url(./images/a.jpg) no-repeat 0px 0px;
    min-height: 100vh;
    background-size: cover;
    
}

.group1 {
	
	display: flex;
	border-radius: 15px 30px 15px;
	
	font-size: 18px;
	padding: 15px 32px;
	width: 25%;	
	float: center; 
	background-color : gray;
	font-weight: bold;   
}

.group2 {
	display: flex;
	border-radius: 15px 30px 15px;
	
	font-size: 18px;
	padding: 15px 32px;
	width: 25%;	
	float: center; 
	background-color : gray;
	font-weight: bold;    
}

.group3 {
	display: flex;
	border-radius: 15px 30px 15px;
	
	font-size: 18px;
	padding: 15px 32px;
	width: 25%;	
	float: center; 
	background-color : gray;
	font-weight: bold;       
}

.group4 {
	display: flex;
	border-radius: 15px 30px 15px;
	
	font-size: 18px;
	padding: 15px 32px;
	width: 25%;	
	float: center; 
	background-color : gray;
	font-weight: bold;   
}

.group5 {
	display: flex;
	border-radius: 15px 30px 15px;
	
	font-size: 18px;
	padding: 15px 32px;
	width: 25%;	
	float: center; 
	background-color : gray;
	font-weight: bold;        
}

h1 {
	text-align: left;
	color: orange;
	font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
}


.copy{
	text-align: left;
}


